name: Linting

on: 
  push: 
    paths: ['**.yml','**.yaml']
  pull_request:
    paths: ['**.yml','**.yaml']
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v5
      
